@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
html,
body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .input {
    @apply rounded-[16px] bg-white mb-[30px] border-border border-solid border-[1px] w-full outline-none;
    transition: all 0.3s;
    padding: 16px 10px;
    padding-left: 52px;
  }
  .input-icon{
    @apply absolute left-[18px] h-[22px] w-[22px] object-contain top-[18px];
    
  }
  .input:focus{
    @apply shadow-md;
  }
  .error{
    font-weight: 500;
  }
  .input.error:focus{
    @apply shadow-danger border-danger;
    box-shadow: 0px 6px 8px rgba(255, 86, 48, 0.1);
  }

  .auth-btn{
    @apply bg-light flex justify-center gap-x-3 items-center text-lighter flex-1 ;
    padding: 14.75px 10px;
    border-radius: 16px;
  }
  .auth-btn-img{
    @apply object-contain;
  }

  .auth-title{
    @apply text-center text-dark mb-[19px];
    font-weight: 700;
    font-size: 26px; 
  }

  .auth-sub-title{
    @apply text-lighter text-center text-lg mb-[30px];
  }

  .divider{
    @apply text-muted text-xl text-center bg-white my-[30px] relative;
    font-weight: 500;
  }
  .divider::after{
    content: '';
    @apply w-full bg-light absolute h-[2px] left-0 top-3.5 z-[1];
  }

  .password-strength-bars{
    @apply flex justify-center;

    column-gap: 19px;
  }
  .password-strength-bars span{
    @apply flex-1 h-[4px] w-full;
    max-width: 64px;
  }
  .password-strength-bars span{
    @apply bg-[#f3f3f3];
  }
  .password-strength-bars.invalid span{
    @apply bg-danger;
  }
  .password-strength-bars.not-enough span:first-child{
    @apply bg-danger;
  }
  .password-strength-bars.weak span:nth-child(-n+2){
    @apply bg-success;
  }
  .password-strength-bars.strong span:nth-child(-n+4){
    @apply bg-success;
  }

  .password-strength-bars.very-strong span{
    @apply bg-success;
  }

  .submit-btn{
    @apply text-white block w-full bg-primary text-center rounded-[16px] mb-[35px];
    padding: 17px;
    border: none;
    font-weight: 500;
  }
}


.rounded-xxl {
  border-radius: 16px;
}

.container-xsm{
  max-width: 540px;
  margin-inline: auto;
}

.gap-x-30px{
  column-gap: 30px;
}

.form{
  display: flex;
  flex-direction: column;
}

.terms_condition{
  border-radius: 8px;
  transition: box-shadow .3s;
  background: lightgrey;
  cursor: pointer;
  border: 0;
  appearance: none; 
  -webkit-appearance: none; 
 }

.terms_condition:checked{ 
  /* box-shadow: inset 0 0 0 20px #377DFF;  */
  background-image: url(./assets/check.svg);
  background-size: cover;
  background-position: center;
}